.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffe4e1;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}
.labelStyles{
 margin-right:320px;
}
.inputContainer {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: white;
  background-color: #ffdab9;
  font-size: 14px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.text {
  margin-top: 15px;
  font-size: 14px;
  color:black;
}
